body {
  text-align: center;
  font-family: Droid sans-serif;
  background-color: #2CB0D9;
}
.rollBtn {
  background-color: #000080;
  color: white;
}
.dice {
  display: inline-block;
}
img {
  height: 35px;
  width: 35px;
}
.keep {
  justify-content: center;
  margin: 50px;
}
.diceContainer {
  justify-content: center;
  width: 50px;
}
.totalTable {
  text-align: center;
}
.keepBox {
  display: inline-block;
  padding: 12px;
}
.inactive {
  background-color: grey;
  color: grey;
}
.col1 {
  border-left: 5px solid black;
}
